const path = require('path')
const adapter = require('./lib/adapter/json')

module.exports = {
	debug: true,
	// logFile: '/tmp/output.log',
	// logName: 'concava',
	// port: 3000,
	payloadMaxSize: '512kb',
	auth: {
		enabled: true,
		// [optional] Specify which header should be verified/used
		header: 'Authorization',
		// [optional] If set to true, the header ('<header>: Token <token>') will be parsed/verified for you
		byToken: true,
		method: adapter.auth,
		file: path.resolve('./data/tokens.json'),
	},
	metadata: {
		method: adapter.metadata,
		file: path.resolve('./data/metadata.json'),
	},
	storage: {
		method: adapter.storage,
		path: path.resolve('./data/'),
	},
}
