import path from 'path'
import { auth, metadata, storage } from './src/adapter/json'

export default {
	debug: true,
	// logFile: '/tmp/output.log',
	// logName: 'concava',
	// port: 3000,
	payloadMaxSize: '512kb',
	auth: {
		enabled: true,
		// [optional] Specify which header should be verified/used
		header: 'Authorization',
		// [optional] If set to true, the header ('<header>: Token <token>') will be parsed/verified for you
		byToken: true,
		method: auth,
		file: path.resolve('./data/tokens.json'),
	},
	metadata: {
		method: metadata,
		file: path.resolve('./data/metadata.json'),
	},
	storage: {
		method: storage,
		path: path.resolve('./data/'),
	},
}
